:root{
    --primary-color: #1363DF;
    --highlight-color: #47B5FF;
    --secondary-color:#DFF6FF;
    --dark-color: #06283D;
    --white-color: #fff;
}
body{
    font-family: 'Poppins', sans-serif;

}
#header img{
    width: 40px;
}
#main .carousel-inner img{
    height: 70vh;
    object-fit: cover;
    filter: grayscale(60%);
}
#carousel{
    position: relative;
}
#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--white-color)
}
#carousel .overlay .container, 
#carousel .overlay .row{
    height: 100%;
}
.h1{
    font-size: 2.6rem;
    font-weight: bolder; 
    background: radial-gradient(circle, rgba(37,147,243,0.8533788515406162) 12%, rgba(191,128,191,1) 32%, rgba(251,169,83,1) 49%, rgba(116,17,179,1) 78%);    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card img{
    height: 300px;
    object-fit: cover;
}
#place-time {
    background-color: var(--dark-color);
    color: var(--white-color);
}
#place-time img{
    width: 100%;
    
}
#footer{
    background-color: var(--dark-color)
}
footer a{
    color: var(--secondary-color)
}
.text-conf{
    color: var(--secondary-color) !important;
}
.btn-conf{
    background: rgb(37,147,243);
    background: linear-gradient(300deg, rgba(37,147,243,0.8533788515406162) 12%, rgba(191,128,191,1) 32%, rgba(251,169,83,1) 49%, rgba(116,17,179,1) 78%);
    color: var(--white-color);
    font-weight: bold;
    border: none;
}
.btn-conf:hover{
    transition: ease-out 200ms;
    transform: scale(1.05);
}